html, body {
    width: 300px;
}
  
.menu {
    width: 100%;
    padding: 4px;
    font-size: 1em;
    position: relative;
    text-align: left;
    padding-left: 2em;
    vertical-align: middle;
    cursor: pointer;
}

.menu[data-icon="link"]:before {
    content: url(icons/link-18.png);
}

.menu[data-icon="wifi_lock"]:before {
    content: url(icons/wifi_lock-18.png);
}

.menu[data-icon="settings"]:before {
    content: url(icons/settings-18.png);
}

.menu:before {
      position: absolute;
      display: inline-block;
      left: 4px;
}
 
  .menu:hover {
    background-color: #EEEEEE;
}
 
